/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: inline-block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0;
	width: 100%;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
.introduction {
	display: flex;
	align-items: center;
}
.introduction figure {
	flex: 1;
}
.introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

.introduction article {
	flex: 1
}
.introduction h2 {
	margin-bottom: 1em;
}

.introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: 0 auto;
	display: block;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/* CSS rajotutee par moi */


.link-edit {
	text-decoration: none;
}
.link-edit:link {
	color: black;
}
.link-edit:hover {
	color: blue;
}
.link-edit:visited {
	color: black;
}
.link-edit:active {
	color: blue;
}

.filtres {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
}

.btn-filtres {
	background-color: #ffffff;
	padding: 0 20px;
	box-sizing: border-box;
	height: 37px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	font-family: Syne;
	font-size: 16px;
	font-weight: 700;
	color: #1D6154;
}

.btn-filtres:hover {
	color: #ffffff;
	background-color: #1D6154;
}

.publication {
	/* color: white; */
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: black;
	gap: 20px;

}

.publication .material-symbols-outlined p {
	color: #ffffff;
	font-weight: 300;
}

.publication .material-symbols-outlined {
	color: #ffffff;
	font-weight: 300;
}

.material-symbols-outlined {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	color: black;
	font-weight: 400;
	text-decoration: none;
}

 p.icone {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	color: black;
}

#mesprojets {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
}

#img-icon {
	margin: 15px 0 0 55px;
}

#intro-icon{
	margin-bottom: 15px;
}

.link-btn-modifier {
	text-decoration: none;
}

#btn-publier {
	cursor: pointer;
	text-align: center;
	height: 40px;
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	padding: 10px 20px;
	font-weight: 500;
	border: none;
	border-radius: 60px;
	background-color: white;
	color: black;
}

#btn-modale {
	cursor: pointer;
	border: none;
	background-color: white;
}

.modale {
	/* margin: 500px 1500px; */
	border: none;
	width: 630px;
	height: 780px;
	background-color: white;
	z-index: 2;
	border-radius: 10px;

}

.hidden {
	display: none;
}

.galerie-modale {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	display: grid;
	height: 480px;
	margin: 0 60px; 						/*ATTENTION MARGINS AJOUTES*/  
	border: 1px solid red;
	grid-column-gap: 25px;
	grid-row-gap: 5px;

}
#btnAjouterPhoto {
	display: block;
	border: none;
	border-radius: 60px;
	width: 237px;
	height: 37px;
	font-size: 14px;
	color: white;
	font-family: 'Work Sans', sans-serif;
	background-color: #1D6154;
}

.overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		/* backdrop-filter: blur(3px); */
		z-index: 1;
}

#titre-modale {
	font-size: 25px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	color: black;
}

#divBtnClose {
	display: flex;
	justify-content: flex-end;
}

.btn-close {
	cursor: pointer;
	margin: 30px 35px 0 0;
	border: none;
	background-color: white;
	font-weight: 700;
	font-size: 20px;
}

#divider {
	width: 420px;
}

#divBtnGalerie {
	margin-top: 40px;  						/* ATTENTION MARGINS AJOUTES*/
	gap: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#supprimerGalerie {
	display: block;
	border: none;
	background-color: white;
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #D65353;
	;
}

#img-modale {
	width: 78px;
}
#figCaption-modale {
	font-size: 12px;
	font-family: 'Work Sans', sans-serif;
	color: black;
	font-weight: 400;
}
#figure-modale {
	display: inline-block;
}